body {
	background-color: #CCCCFF;
	font-family: Arial;
}

form#employeeEntry > input {
	float: right;
}
form#employeeEntry {
	width: 300px;
	line-height: 30px;
	padding: 0px 0px 40px 20px;
}